#ticket, #project {
  dl {
    dd:after {
      display: block;
      content: '';
    }
    dt {
      display: inline-block;
      font-weight: bolder;
      min-width: 100px;
    }
    dd {
      display: inline;
    }
  }

  #actions {
    li {
      list-style: none;
      display: inline;
      margin-right: 20px;
    }
  }

  #notes {
    .author {
      font-weight: bold;
    }

    li {
      list-style-type: none;
      border-bottom: 1px dotted #555;
    }

    li>div {
      padding: 5px 20px 5px 10px;
    }

    .odd {
      background-color: #ddd;
    }
  }
}
